<mat-toolbar style="background-image: linear-gradient(to right, #ef6747 0%, #ef6349 100%);">
  <mat-icon aria-hidden="false" style="color: white;" aria-label="Example home icon">assignment_turned_in</mat-icon>
  <h1 class="todo">To-Do list</h1>
</mat-toolbar>

<div class="content-wapper">
  <div style="margin: 20px;">
    <button mat-raised-button style="background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);" (click)="newTask()">
      <mat-icon>
        add
      </mat-icon> Add Task
    </button>
  </div>

  <div class="container-wapper">

    <div class="container">
      <mat-card class="newTask">
        <mat-card-header style="justify-content: center;">
          <mat-card-title style="padding: 15px;color: white;">New Task</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div cdkDropList id="todo" #todolist="cdkDropList" [cdkDropListData]="todo | async" (cdkDropListDropped)="drop($event)" [cdkDropListConnectedTo]="[inProgresslist, donelist]">
            <p class="empty-label" *ngIf="(todo | async)?.length === 0">Empty list</p>
            <app-task cdkDrag *ngFor="let task of todo | async" [task]="task" (edit)="edit('todo',$event)"></app-task>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="container">
      <mat-card class="newTask">
        <mat-card-header style="justify-content: center;">
          <mat-card-title style="padding: 15px;color: white;">In Progress</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div cdkDropList id="inProgress" #inProgresslist="cdkDropList" [cdkDropListData]="inProgress | async" (cdkDropListDropped)="drop($event)" [cdkDropListConnectedTo]="[todolist, donelist]">
            <p class="empty-label" *ngIf="(inProgress | async)?.length === 0">Empty list</p>
            <app-task cdkDrag *ngFor="let task of inProgress | async" [task]="task" (edit)="edit('inProgress',$event)"></app-task>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="container">
      <mat-card class="newTask">
        <mat-card-header style="justify-content: center;">
          <mat-card-title style="padding: 15px;color: white;">Completed</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div cdkDropList id="done" #donelist="cdkDropList" [cdkDropListData]="done | async" (cdkDropListDropped)="drop($event)" [cdkDropListConnectedTo]="[todolist, inProgresslist]">
            <p class="empty-label" *ngIf="(done | async)?.length === 0">Empty list</p>
            <app-task cdkDrag *ngFor="let task of done | async" [task]="task" (edit)="edit('done',$event)"></app-task>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

  </div>
</div>
