<mat-form-field style="width: -webkit-fill-available;">
  <mat-label>
    Title
  </mat-label>
  <input matInput cdkFocusIniial [(ngModel)]="data.task.title" />
</mat-form-field>

<mat-form-field style="width: -webkit-fill-available;">
  <mat-label>
    Description
  </mat-label>
  <textarea matInput [(ngModel)]="data.task.description"></textarea>
</mat-form-field>

<div mat-dialog-actions>
  <button mat-raised-button [mat-dialog-close]="{task: data.task}" class="btncolor">Ok</button>
  <button mat-raised-button (click)="cancel()" class="btncolor">Cancel</button>
  <button *ngIf="data.enableDelete" mat-raised-button [mat-dialog-close]="{task:data.task, delete:true}" class="btncolor">
    <mat-icon>delete_forever</mat-icon>
  </button>
</div>
